{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 56, "knowledge_revision": 189, "git_revision": "", "hash": "f72f40a1d28399e9c0530883afdffc92", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"189": ""}]}