{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 99, "knowledge_revision": 230, "git_revision": "", "hash": "748c0d7ab06d9e83983a90885da51a36", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/ios/Flutter/Generated.xcconfig", "revision_history": [{"230": ""}]}